.active{
    background-color: #c74a4f;
    font-weight: bold;
    text-decoration-color: #ffffff;
    border-radius: 10px;
    margin-left: 20px;
}
#bloc_page {
    width: 20%;
    height: 40px;
    float: left;
}
#bloc_page img{
    width:100%;
}