.active{
    background-color: #c74a4f;
    font-weight: bold;
    text-decoration-color: #ffffff;
    border-radius: 10px;
    margin-left: 20px;
}
#bloc_page {
    width: 20%;
    display: inline-block;
}
#bloc_page img{
    width:100%;
    min-height: 100px;
    min-width: 125px;
    float: left;

}
h1{
    color: #c74a4f!important;
    font-family: 'rubikbold';
}